* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: black;
  color: white;
}
.nav .img-right img {
  height: 80px;
}
.nav .img-left img {
  height: 70px;
}
.nav .content-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.nav .content-right ul li {
  list-style: none;
}
.nav .content-left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: gray;
}
.nav .content-left ul li {
  list-style: none;
}
.nav .content-left ul a {
  color: white;
  font-size: 25px;
}

.first_section {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.first_section .box {
  background: url(images/home\ page\ 1.jpeg) no-repeat center center/cover;
  height: 500px;
  width: 85%;
}
.first_section .box h1 {
  color: white;
  font-size: 50px;
  text-align: left;
}
.first_section .box button {
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: blue;
  border-radius: 20px;
}
.first_section .box .box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card_one {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  justify-content: center;
}
.card_one .heading {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.card_one .heading .i {
  font-size: 20px;
  letter-spacing: 10px;
}
.card_one .parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.card_one .parent .box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 530px;
  width: 450px;
  gap: 20px;
  transition: transform 5.4s ease-in;
}
.card_one .parent .box img {
  width: 100%;
  display: block;
  margin: auto;
}
.card_one .parent .box .content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card_one .parent .box .content h2 {
  font-size: 40px;
  margin-top: 40px;
  padding: 20px;
}
.card_one .parent .box .content button {
  text-align: left;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 15px;
}
.card_one .box:hover {
  transform: scale(0.2);
}

.section-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.section-3 .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 25px;
  gap: 20px;
}
.section-3 .content li {
  padding: 20px;
  display: flex;
  gap: 40px;
  list-style: none;
}
.section-3 .content li a {
  color: rgb(87, 180, 216);
}
.section-3 .content hr {
  color: gray;
}

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: rgb(25, 23, 23);
}
.section-4 .head {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 20px;
  padding: 5px;
  color: white;
}
.section-4 .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section-4 .grid .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.section-4 .grid .box img {
  height: 400px;
  width: 340px;
  border-radius: 7%;
}
.section-4 .grid .box h3 {
  position: absolute;
  color: white;
  font-size: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7%;
}

.button {
  align-items: center;
}
.button button {
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  background: transparent;
  padding: 15px;
}

.section-5 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.section-5 .heading p {
  font-size: 20px;
}
.section-5 .heading h2 {
  font-size: 40px;
}
.section-5 .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 25px;
  gap: 20px;
}
.section-5 .content li {
  padding: 20px;
  display: flex;
  gap: 40px;
  list-style: none;
}
.section-5 .content hr {
  color: blue;
}
.section-5 .content p {
  color: rgb(89, 82, 82);
}
.section-5 .content i {
  color: rgb(96, 165, 192);
}

.footer {
  background-color: rgb(27, 26, 26);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.footer .top {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
}
.footer .top button {
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
}
.footer hr {
  color: beige;
}
.footer .mid {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.footer .mid .heading {
  font-size: 20px;
  padding: 20px;
}
.footer .mid .icon ul {
  display: flex;
  gap: 90px;
  font-size: 25px;
}
.footer .mid .icon ul li {
  list-style: none;
}
.footer .mid .icon ul li a {
  font-size: 30px;
  color: white;
}
.footer .bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  text-decoration: none;
}
.footer .bottom #ul li {
  list-style: none;
}
.footer .bottom #ul h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .nav .content-right ul {
    flex-direction: column;
  }
  .nav .content-left ul {
    flex-direction: column;
  }
  .first_section .box h1 {
    font-size: 10px;
    height: 100vh;
  }
  .card_one .heading {
    flex-direction: column;
    font-size: 10px;
  }
  .card_one .parent {
    flex-direction: column;
    font-size: 10px;
  }
  .card_one .parent .box {
    flex-direction: column;
    font-size: 10px;
  }
  .section-3 .content {
    grid-template-columns: auto;
  }
  .section-4 .grid {
    flex-direction: column;
  }
  .section-5 .content {
    grid-template-columns: auto;
  }
  .footer .mid {
    flex-direction: column;
  }
  .footer .mid .icon ul {
    flex-direction: column;
    gap: 5px;
  }
  .footer .bottom {
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
}
@media screen and (max-width: 425px) {
  .nav {
    flex-direction: column;
  }
  .nav .content-right ul {
    flex-direction: column;
  }
  .nav .content-left ul {
    flex-direction: column;
  }
  .first_section .box h1 {
    font-size: 10px;
    height: 100vh;
  }
  .card_one .heading {
    flex-direction: column;
    font-size: 10px;
  }
  .card_one .parent {
    flex-direction: column;
    font-size: 10px;
  }
  .card_one .parent .box {
    flex-direction: column;
    font-size: 10px;
  }
  .section-3 .content {
    grid-template-columns: auto;
  }
  .section-4 .grid {
    flex-direction: column;
    font-size: 15px;
  }
  .section-5 .content {
    grid-template-columns: auto;
  }
  .footer .mid {
    flex-direction: column;
  }
  .footer .mid .icon ul {
    flex-direction: column;
    gap: 5px;
  }
  .footer .bottom {
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
}/*# sourceMappingURL=task.css.map */